# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\harry\OneDrive\CS&AI Year 3\Dissertation - Visual Navigation in Robots\RouteNavigation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
